body, html {
    background-image: url("../dice.png");
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    bottom: 300;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.content {
    margin: 0 auto;
    position:fixed;
    left: 540px;
    width: 400px;
    font-size: 17px;
    font-weight: 500;
}
.content h1{
    text-shadow: 4px 4px 4px black;
    color:white
}
.content label{
    text-shadow: 2px 2px 2px white;
    font-weight: 500;
    font-size: 20px;
}
.go_for {
    margin: 0 auto;
    position:fixed;
    color: white;
    text-shadow: 4px 4px 4px black;
    font-weight:500;
    font-size: 30px;
    left: 540px;
    bottom: 70px;
    width: 400px;
    font-size: 20px;
}

.roll {
    margin: 0 auto;
    position:fixed;
    left: 200px;
    bottom: 200px;
}

.roll button{
    padding: 12px 5px;
    text-align: center;
    text-decoration: none;
    box-shadow: 2.5px 5px 10px #000000;
    display: inline-block;
    font-size: 16px;    
}

.probs, .home{
    box-shadow: 2.5px 5px 10px #000000;
    position: relative;
    left: 300px;
    padding: 15px 22px;
    text-align: center;
    font-size: 16px;    
}
.calc {
    border: 2px white ridge;
    box-shadow: 2.5px 5px 10px #000000;
    position: relative;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;    
}
.calc, .probs, .home, .roll button{
    background-color: rgba(173, 216, 230, 0.7);
    transition-duration: 0.5s;
    border: 2px rgba(173, 216, 230) ridge;
    border-width: 7px;
}
.calc:hover, .home:hover, .probs:hover, .rollbtn:hover{
    background-color: rgb(66, 194, 194);
}

table, td, th {
    border: 2px solid black;
    background: rgba(173, 216, 230, 0.5);
    text-shadow: 1.5px 2px 2px grey;
}

table {
    border-collapse: separate;
    width: 100%;
}

th {
    height: 35px;
}

td {
    text-align: center;
    padding: 6px;
    font-size: 17px;
}
