body, html {
    background-image: url("../dice.png");
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    bottom: 300;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.content {
    margin: 0 auto;
    position:fixed;
    left: 540px;
    width: 400px;
    font-size: 17px;
    font-weight: 500;
}
.content h1{
    text-shadow: 4px 4px 4px black;
    color:white
}
.content label{
    text-shadow: 2px 2px 2px white;
    font-weight: 500;
    font-size: 20px;
}
.go_for {
    margin: 0 auto;
    position:fixed;
    color: white;
    text-shadow: 4px 4px 4px black;
    font-weight:500;
    font-size: 30px;
    left: 540px;
    bottom: 200px;
    width: 400px;
    font-size: 20px;
}

table, td, th {
    border: 2px solid black;
    text-shadow: 2px 1px 2px white;
}

table {
    border-collapse: separate;
    width: 100%;
}

th {
    height: 35px;
    color: whitesmoke;
    text-shadow: 3px 3px 2px black;
}

td {
    text-align: center;
    padding: 6px;
    font-size: 17px;
}
