body, html {
    background-image: url("../dice.png");
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.content {
    margin: 0 auto;
    width: 400px;
    font-size: 17px;
}

table, td, th {
    border: 2px solid black;
}

table {
    border-collapse: separate;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 7px;
}
