<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div id="banner">
        <div id="banner-content">
            <a class = "banner_home" href = "{{ url_for('home') }}">Home</a>
            <a class = "banner_calc" href = "{{ url_for('after_input') }}">Calculate probabilities</a>  
            {% block head %}
            {% endblock %}
        </div>
    </div>
    {% block body %}{% endblock %}
</body>
</html>